<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            max-width: 400px;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }

        h1 {
            margin: 0;
            padding: 10px 0;
            color: #333;
        }

        form {
            text-align: left;
        }

        input[type="name"],
        input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="hidden"] {
            display: none;
        }

        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        a {
            text-decoration: none;
            color: #007BFF;
            display: block;
            text-align: center;
            margin-top: 20px;
            font-size: 16px;
        }

        a:hover {
            color: #0056b3;
        }
    </style>
</head>
<body>
    <form action="" method="POST">
        <div class="container">
        <input type="name" name="name" placeholder="Enter name" value="{{user.name}}">
        <br> <br>
        <input type="email" name="email" placeholder="Enter email" value="{{user.email}}">
        <br> <br>
        <input type="hidden" name="id" value="{{user._id}}">
        <input type="submit" value="Update User">
        </div>
    </form>

    <a href="/admin/"> Go to Dashboard</a>
</body>
</html>